@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial;
}

a {
  color: rgb(109, 69, 221);
  border-bottom: 1px solid rgba(163, 146, 209, 0.415);
}